<template>
  <v-app id="inspire">
    <v-content>
        <v-container fluid fill-height>
          <v-layout
                  justify-center
                  align-center
                  column
          >
            <slot></slot>
          </v-layout>
        </v-container>
    </v-content>
  </v-app>
</template>
<script>
    export default {
        data() {
            return {}
        },
        name: 'Auth-Container',
        mounted(){},
        methods: {}
    }
</script>

