<template>
    <v-app light>
        <Sidebar />

        <title-updater></title-updater>

        <TopMenu />

        <v-content>
            <router-view></router-view>
        </v-content>

        <RightSideBar />
    </v-app>
</template>
<script>
    import Sidebar from './../common/Sidebar';
    import TopMenu from './../common/Menu';
    import RightSideBar from './../common/RightSideBar';
    import TitleUpdater from '../functional/Title';
    export default {
        data() {
            return {
            }
        },
        components: {
            Sidebar,
            TopMenu,
            RightSideBar,
            TitleUpdater
        },
        name: 'MasterContainer',
        mounted(){
            if(!this.$store.getters['auth/isAuthenticated']){
                this.$store.dispatch('auth/getUser');
            }
        },
        methods: {}
    }
</script>