<template>
    <v-container fluid grid-list-lg>
        <v-layout row wrap>
            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-layout row wrap v-if="!loading">
                        <v-flex xs12 sm3>
                            <v-slide-y-transition mode="out-in">
                                <v-card color="white">
                                    <v-card-text>
                                        <div class="text-center">
                                            <div class="avatar">
                                                <custom-image-upload
                                                        role="avatar"
                                                        :object="user.details"
                                                        @update="doUpdate"
                                                        @error="showErrorUpload"
                                                        :enableRotate="true"
                                                        :enableResize="false"
                                                        :showCircle="true"
                                                        :showZoomer="false"
                                                        :width="320"
                                                        :height="320"
                                                        :padding="20"
                                                >
                                                </custom-image-upload>
                                            </div>
                                        </div>

                                        <v-list two-line subheader>
                                            <v-list-tile v-if="user.name">
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Name:</v-list-tile-title>
                                                    <v-list-tile-sub-title>{{ user.name }}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>

                                            <v-list-tile v-if="user.details.surname">
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Surname</v-list-tile-title>
                                                    <v-list-tile-sub-title>{{ user.details.surname }}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>

                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Email</v-list-tile-title>
                                                    <v-list-tile-sub-title>{{ user.email }}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>

                                            <v-list-tile v-if="user.cellphone">
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Contact Number</v-list-tile-title>
                                                    <v-list-tile-sub-title>{{ user.cellphone }}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>

                                            <v-list-tile v-if="user.details.birthdate">
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Date of birth</v-list-tile-title>
                                                    <v-list-tile-sub-title>{{ user.details.birthdate }}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>

                                        </v-list>

                                    </v-card-text>
                                </v-card>
                            </v-slide-y-transition>
                        </v-flex>
                        <v-flex xs12 sm9>
                            <v-slide-y-transition mode="out-in">
                                <v-card color="white">
                                    <v-card-text>
                                        <v-tabs
                                                centered
                                                icons-and-text
                                        >
                                            <v-tabs-slider color="primary"></v-tabs-slider>

                                            <v-tab href="#info">
                                                Information
                                                <v-icon>mdi-information-outline</v-icon>
                                            </v-tab>

                                            <v-tab href="#access" :disabled="!applicationsLoaded">
                                                Access
                                                <v-icon>mdi-key</v-icon>
                                            </v-tab>

                                            <v-tab-item value="info">
                                                <v-form>
                                                    <v-layout wrap row>
                                                        <v-flex xs12 sm6>
                                                            <v-text-field
                                                                    v-model="user.name"
                                                                    label="Name"
                                                                    type="text"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6>
                                                            <v-text-field
                                                                    v-model="user.details.surname"
                                                                    label="Surname"
                                                                    type="text"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12>
                                                            <v-text-field
                                                                    v-model="user.email"
                                                                    label="Email"
                                                                    readonly
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm4>
                                                            <v-autocomplete
                                                                    :items="dialingCodes"
                                                                    :filter="customFilter"
                                                                    v-model="user.details.cellphonePrefix"
                                                                    item-text="friendly"
                                                                    item-value="code"
                                                                    label="Dialing Code"
                                                            ></v-autocomplete>
                                                        </v-flex>
                                                        <v-flex xs12 sm8>
                                                            <v-text-field
                                                                    v-model="user.details.cellphoneNumber"
                                                                    label="Cellphone"
                                                                    type="text"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6>
                                                            <v-text-field
                                                                    v-model="user.password"
                                                                    label="Password"
                                                                    type="password"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6>
                                                            <v-menu
                                                                    ref="birthdateMenu"
                                                                    :close-on-content-click="false"
                                                                    v-model="birthdateMenu"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    transition="scale-transition"
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                            >
                                                                <v-text-field
                                                                        slot="activator"
                                                                        v-model="user.details.birthdate"
                                                                        label="Birthday"
                                                                        readonly
                                                                ></v-text-field>
                                                                <v-date-picker
                                                                        ref="picker"
                                                                        v-model="user.details.birthdate"
                                                                        :max="new Date().toISOString().substr(0, 10)"
                                                                        @change="saveBirthdate"
                                                                ></v-date-picker>
                                                            </v-menu>
                                                        </v-flex>
                                                        <v-flex xs12>
                                                            <v-select
                                                                    label="Roles"
                                                                    v-model="user.roles_ids"
                                                                    :items="roles"
                                                                    item-text="name"
                                                                    item-value="id"
                                                                    multiple
                                                                    deletable-chips
                                                                    chips
                                                            ></v-select>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-form>
                                            </v-tab-item>

                                            <v-tab-item value="access">

                                                <v-treeview
                                                        v-if="applicationsLoaded"
                                                        v-model="user.applications_ids"
                                                        :items="applicationTree"
                                                        activatable
                                                        active-class="grey lighten-4 indigo--text"
                                                        selected-color="indigo"
                                                        open-all
                                                        open-on-click
                                                        selectable
                                                        loading-icon="mdi-autorenew"
                                                        expand-icon="mdi-chevron-down"
                                                        on-icon="mdi-checkbox-marked-circle"
                                                        off-icon="mdi-checkbox-blank-circle-outline"
                                                        indeterminate-icon="mdi-plus-circle"
                                                >
                                                </v-treeview>

                                            </v-tab-item>

                                        </v-tabs>
                                    </v-card-text>
                                </v-card>
                            </v-slide-y-transition>
                        </v-flex>
                    </v-layout>
                </v-slide-y-transition>
            </v-flex>
        </v-layout>
        <v-dialog v-model="deleteDialog" persistent max-width="290">
            <v-card>
                <v-card-text class="text-center">
                    <h3 class="headline mb-4">Are you sure?</h3>
                    <div class="text-xs-center" v-if="deleteWaiting">
                        <v-progress-circular
                                indeterminate
                                color="primary"
                        ></v-progress-circular>
                    </div>
                    <v-icon color="error" class="a-animated tada" size="80px" v-else>
                        mdi-delete-variant
                    </v-icon>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="red" flat @click="cancelDelete" :disabled="deleteWaiting">No</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="doDelete" :disabled="deleteWaiting">Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <action-buttons
                @update="doUpdate"
                @delete="handleDelete"
        ></action-buttons>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                eventBus,
                loading: true,
                user: {},
                deleteDialog: false,
                deleteWaiting: false,
                birthdateMenu: false,
                applications: [],
                applicationTree: [],
                applicationsLoaded: false,
                dialingCodes: [],
            }
        },
        name: 'Edit-User',
        computed: {
            roles() {
                return this.eventBus.global.resources.roles;
            },
        },
        watch: {
            birthdateMenu (val) {
                val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
            },
        },
        mounted() {
            window.axios.post('/users/get', { id: this.$route.params.userId }).then(response => {
                this.user = response.data.user;
                this.loading = false;
            }).catch(error => {
                this.$toasted.show("Whoops! Something went wrong", {
                    theme: "error",
                    position: "top-center",
                    duration : 1500
                });
            });
            this.getResource('applications').then(response => {
                this.applications = response;
                this.processApplications();
            });
            this.getResource('dialingCodes').then(response => {
                this.dialingCodes = response;
            });
        },
        methods: {
            cancelDelete() {
                this.deleteDialog = false;
                this.deleteWaiting = false;
            },
            handleDelete() {
                this.deleteDialog = true;
            },
            doDelete() {
                this.deleteWaiting = true;
                window.axios.post('/users/delete', { id: this.$route.params.userId }).then(response => {
                    this.cancelDelete();
                    this.$router.push('/users');
                }).catch(error => {
                    this.$toasted.show("Whoops! Something went wrong", {
                        theme: "error",
                        position: "top-center",
                        duration : 1500
                    });
                });
            },
            doUpdate() {
                window.axios.post('/users/update', { user: this.user }).then(response => {
                    this.user = response.data.user;
                    this.$toasted.show("Update successful", {
                        theme: "default",
                        position: "top-center",
                        duration : 1500
                    });
                }).catch(error => {
                    this.$toasted.show("Whoops! Something went wrong", {
                        theme: "error",
                        position: "top-center",
                        duration : 1500
                    });
                });
            },
            showErrorUpload() {
                this.$toasted.show("Whoops! Something went wrong", {
                    theme: "error",
                    position: "top-center",
                    duration : 1500
                });
            },
            customFilter (item, queryText, itemText) {
                const textOne = item.country.toLowerCase();
                const textTwo = item.code.toLowerCase();
                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 ||
                    textTwo.indexOf(searchText) > -1
            },
            saveBirthdate (date) {
                this.$refs.birthdateMenu.save(date);
            },
            processApplications() {
                let groups = [];

                for (var i = 0, len = this.applications.length; i < len; i++) {
                    let group = 'Other';

                    if(this.applications[i].group) {
                        group = this.applications[i].group.name;
                    }

                    if (!groups.includes(group)) {
                        groups.push(group)
                    }
                }

                groups.sort();

                const children = groups.map(group => ({
                    id: group,
                    name: group,
                    children: this.getChildren(group)
                }));

                this.applicationTree = [{
                    id: 'all',
                    name: 'All Applications',
                    children
                }];

                this.applicationsLoaded = true;
            },
            getChildren (group) {
                const applications = [];

                const other = [];

                for (const application of this.applications) {
                    if (application.group_id == null && application.group == null) {
                        other.push({
                            ...application,
                            name: application.name
                        })
                    } else if(application.group_id !== null && application.group.name == group) {
                        applications.push({
                            ...application,
                            name: application.name
                        })
                    }
                }

                if(group !== 'Other') {
                    return applications.sort((a, b) => {
                        return a.name > b.name ? 1 : -1
                    });
                } else {
                    return other.sort((a, b) => {
                        return a.name > b.name ? 1 : -1
                    });
                }
            },
        },
    }
</script>