<template>
    <v-container fluid grid-list-lg>
        <v-layout row wrap>
            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-card>
                        <v-card-title dark class="primary white--text">

                            <v-btn color="white" @click.native="createDialog = true">
                                New User
                            </v-btn>

                            <v-spacer></v-spacer>

                            <div :class="{'searching--closed': !searching}" class="searching">
                                <v-text-field
                                        id="search"
                                        v-model="filter.searchQuery"
                                        append-icon="mdi-close"
                                        @click:append="searchEnd"
                                        placeholder="Search"
                                        hide-details
                                        solo
                                ></v-text-field>
                            </div>

                            <v-btn icon dark @click.native.stop="searchBegin">
                                <v-icon>mdi-magnify</v-icon>
                            </v-btn>

                            <v-menu
                                    v-model="filterMenu"
                                    :close-on-content-click="false"
                                    offset-y
                            >
                                <v-btn
                                        icon
                                        dark
                                        slot="activator"
                                >
                                    <v-badge
                                            color="error"
                                            left
                                            overlap
                                    >
                                        <span slot="badge" v-if="filter.types.length">{{ filter.types.length }}</span>
                                        <v-icon>mdi-filter-variant</v-icon>
                                    </v-badge>
                                </v-btn>

                                <v-card class="list-filter-card pt-2 pb-2">
                                    <v-list subheader>
                                        <v-subheader>
                                            Roles
                                        </v-subheader>

                                        <template v-for="role in roles">
                                            <v-list-tile>
                                                <v-list-tile-action>
                                                    <v-checkbox
                                                            color="primary"
                                                            v-model="filter.types"
                                                            :value="role.id"
                                                    ></v-checkbox>
                                                </v-list-tile-action>

                                                <v-list-tile-content>
                                                    <v-list-tile-title>{{ role.name }}</v-list-tile-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </template>
                                    </v-list>
                                </v-card>
                            </v-menu>

                            <v-btn icon dark @click.native.stop="fetchData">
                                <v-icon>mdi-autorenew</v-icon>
                            </v-btn>

                        </v-card-title>
                        <v-data-table
                                class="elevation-1"
                                :headers="headers"
                                :items="users"
                                :pagination.sync="pagination"
                                :total-items="totalItems"
                                :loading="fetching"
                                :rowsPerPageItems="[15,20,25]">

                            <template class="body-2" slot="items" slot-scope="props">
                                <td class="text-xs-center">
                                    <v-avatar class="primary" size="30px">
                                        <img v-if="props.item.avatar" :src="props.item.avatar">
                                        <img v-else :src="'data:image/png;base64,' + identiconUrl(props.item.email) ">
                                    </v-avatar>
                                </td>
                                <td class="text-xs-center">
                                    {{ props.item.name }}
                                </td>
                                <td class="text-xs-center">
                                    {{ props.item.email }}
                                </td>
                                <td class="text-xs-center">
                                    <v-chip v-for="role in props.item.roles" :key="role.id">
                                        {{ role.name }}
                                    </v-chip>
                                </td>
                                <td class="text-xs-center">
                                    Created: {{ props.item.created_at|date }}<br/>
                                    {{ props.item.created_at|fromNow }}
                                </td>
                                <td class="text-xs-center">
                                    <v-tooltip bottom>
                                        <v-btn slot="activator" icon flat small color="primary" @click.native="handleEdit(props.item.id)">
                                            <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                        <span>Edit</span>
                                    </v-tooltip>
                                    <v-tooltip bottom>
                                        <v-btn  slot="activator" icon flat small color="error" @click.native="handleDelete(props.item.id)">
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                        <span>Delete</span>
                                    </v-tooltip>
                                </td>
                            </template>
                        </v-data-table>
                    </v-card>
                </v-slide-y-transition>
            </v-flex>
        </v-layout>
        <v-dialog v-model="deleteDialog" persistent max-width="290">
            <v-card>
                <v-card-text class="text-center">
                    <h3 class="headline mb-4">Are you sure?</h3>
                    <div class="text-xs-center" v-if="deleteWaiting">
                        <v-progress-circular
                                indeterminate
                                color="primary"
                        ></v-progress-circular>
                    </div>
                    <v-icon color="error" class="a-animated tada" size="80px" v-else>
                        mdi-delete-variant
                    </v-icon>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="red" flat @click="cancelDelete" :disabled="deleteWaiting">No</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="doDelete" :disabled="deleteWaiting">Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="createDialog" persistent max-width="320">
            <v-card>
                <v-card-title>
                    <h3 class="headline mb-0">Create new user</h3>
                </v-card-title>
                <v-card-text>
                    <div class="text-xs-center" v-if="createWaiting">
                        <v-progress-circular
                                indeterminate
                                color="primary"
                        ></v-progress-circular>
                    </div>
                    <v-form ref="createForm" v-model="valid" lazy-validation v-else>
                        <v-text-field
                                v-model="newItem.name"
                                :rules="nameRules"
                                prepend-icon="mdi-account"
                                label="Name"
                                required
                        ></v-text-field>
                        <v-text-field
                                v-model="newItem.email"
                                :rules="emailRules"
                                prepend-icon="mdi-at"
                                :error-messages="errors"
                                label="Email"
                                type="email"
                                required
                        ></v-text-field>
                        <v-text-field
                                v-model="newItem.password"
                                :rules="passwordRules"
                                prepend-icon="mdi-key"
                                label="Password"
                                type="password"
                                required
                        ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="error" flat @click.native="closeCreateDialog" :disabled="createWaiting">Cancel</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click.native="create" :disabled="createWaiting">Create</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                eventBus,
                filter: {
                    searchQuery: '',
                    types: []
                },
                filterMenu: false,
                searching: false,
                totalItems: 0,
                users: [],
                deleteDialog: false,
                deleteWaiting: false,
                createDialog: false,
                createWaiting: false,
                deleteItem: null,
                fetching: true,
                timeout:null,
                newItem: {
                    name: '',
                    email: '',
                    password: '',
                    details: []
                },
                valid: false,
                nameRules: [
                    v => !!v || 'Name is required',
                ],
                emailRules: [
                    v => !!v || 'Email is required',
                ],
                passwordRules: [
                    v => !!v || 'Password is required',
                ],
                errors: [],
                pagination: {
                    page: 1,
                    rowsPerPage: 15
                },
                headers: [
                    { text: '', value: '', sortable: false, align: 'center'},
                    { text: 'Name', value: 'name', sortable: false, align: 'center'},
                    { text: 'Email', value: 'email', sortable: false, align: 'center'},
                    { text: 'Roles', value: 'roles', sortable: false, align: 'center'},
                    { text: 'Details', value: 'actions', sortable: false, align: 'center'},
                    { text: 'Actions', value: 'actions', sortable: false, align: 'center'},
                ]
            }
        },
        name: 'Users-List',
        computed: {
            roles() {
                return this.eventBus.global.resources.roles;
            },
        },
        watch: {
            'filter.searchQuery' () {
                this.fetchDataDelayed();
            },
            'filter.types' () {
                this.fetchDataDelayed();
            },
            'pagination.rowsPerPage'() {
                this.fetchData();
            },
            'pagination.page'() {
                this.fetchData();
            },
            'newItem.email' () {
                this.checkEmail();
            }
        },
        mounted() {
            this.fetchData();
            Echo.private('update-dom').listen('.users', (e) => {
                this.fetchData();
            });
        },
        methods: {
            fetchDataDelayed() {
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    this.fetchData();
                }, 500);
            },
            fetchData() {
                this.fetching = true;
                const { sortBy, descending, page, rowsPerPage } = this.pagination;

                window.axios.post('/users/searchPaginated?page='+page, {
                    filter:this.filter,
                    itemsPerPage:rowsPerPage
                }).then(response => {
                    this.fetching = false;
                    this.users = response.data.users.data;
                    this.totalItems = response.data.users.total;
                }).catch(error => {
                    this.$toasted.show("Whoops! Something went wrong", {
                        theme: "error",
                        position: "top-center",
                        duration : 1500
                    });
                });
            },
            checkEmail() {
                if(this.newItem.email !== '') {
                    clearTimeout(this.timeout);
                    this.timeout = setTimeout(() => {
                        window.axios.post('/users/ifExists', { email: this.newItem.email }).then(response => {
                            if(response.data == 'Error') {
                                this.errors = ['User with email already exists'];
                            } else {
                                this.errors = [];
                            }
                        }).catch(error => {
                            this.$toasted.show("Whoops! Something went wrong", {
                                theme: "error",
                                position: "top-center",
                                duration : 1500
                            });
                        });
                    }, 500);
                }
            },
            cancelDelete() {
                this.deleteItem = null;
                this.deleteDialog = false;
                this.deleteWaiting = false;
            },
            handleDelete(id) {
                this.deleteItem = id;
                this.deleteDialog = true;
            },
            doDelete() {
                this.deleteWaiting = true;
                window.axios.post('/users/delete', { id: this.deleteItem }).then(response => {
                    this.fetchData();
                    this.cancelDelete();
                }).catch(error => {
                    this.$toasted.show("Whoops! Something went wrong", {
                        theme: "error",
                        position: "top-center",
                        duration : 1500
                    });
                });
            },
            handleEdit(id) {
                this.$router.push('/users/edit/' + id);
            },
            closeCreateDialog() {
                if(!this.createWaiting) {
                    this.$refs.createForm.reset();
                }
                this.newItem = {
                    name: '',
                    email: '',
                    password: '',
                    details: []
                };
                this.createDialog = false;
                this.createWaiting = false;
            },
            create() {
                if (this.$refs.createForm.validate() && this.errors.length == 0) {
                    this.createWaiting = true;
                    window.axios.post('/users/create', { user: this.newItem }).then(response => {
                        this.$toasted.show("User created", {
                            theme: "default",
                            position: "top-center",
                            duration : 1500
                        });
                        this.$router.push('/users/edit/' + response.data.id);
                        this.closeCreateDialog();
                    }).catch(error => {
                        this.$toasted.show("Whoops! Something went wrong", {
                            theme: "error",
                            position: "top-center",
                            duration : 1500
                        });
                    });
                }
            },
            searchBegin() {
                this.searching = true;
                setTimeout(() => document.querySelector('#search').focus(), 50)
            },
            searchEnd() {
                this.searching = false;
                this.filter.searchQuery = '';
                document.querySelector('#search').blur();
            }
        },
    }
</script>