<template>
  <router-view></router-view>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                timer: '',
                token: '',
            }
        },
        created: function() {
            this.timer = setInterval(this.refreshToken, 3500*1000);
        },
        methods: {
            refreshToken: function() {
                window.axios.post('/token', { }).then(response => {
                    this.token = response.data.token;
                    this.setToken();
                });
            },
            setToken: function() {
                this.$store.dispatch('auth/setToken', this.token);
                window.axios.defaults.headers.common = {
                    'X-CSRF-TOKEN': this.token,
                    'X-Requested-With': 'XMLHttpRequest'
                };
            }
        },
        beforeDestroy: function() {
            clearInterval(this.timer);
        },
    }
</script>