<template>
</template>
<script>
    export default {
        data() {
            return {
            }
        },
        components: {
        },
        name: 'Dashboard',
        computed: {
        },
        mounted(){
        },
        methods: {
        }
    }
</script>