html {
  overflow: auto;
}

.application {
  background: #fff !important;
}

.text-center {
  text-align: center;
}

.toasted.default {
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
  min-height: 38px;
  line-height: 1.1em;
  background-color: #353535;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.hidden {
  display:  none !important;
}

.bottom-menu {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.list-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, .12);
}