<template>
    <v-toolbar
            app
            flat
            color="primary"
            dark
    >
        <v-toolbar-side-icon
                @click.stop="toggleRightDrawer"
                class="hidden-lg-and-up"
        />
        <v-menu :nudge-width="100">
            <v-toolbar-title slot="activator" class="pl-2">
                <span>Vue</span>
                <v-icon>mdi-menu-down</v-icon>
            </v-toolbar-title>
            <v-list>
                <v-list-tile @click="">
                    <v-list-tile-title>Vue</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="">
                    <v-list-tile-title>NodeJS</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="">
                    <v-list-tile-title>Laravel</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        <v-spacer></v-spacer>

        <v-tooltip bottom>
            <v-btn icon @click.stop="toggleRightDrawer" slot="activator">
                <v-badge color="red" overlap>
                    <span slot="badge">2</span>
                    <v-icon>mdi-bell-ring</v-icon>
                </v-badge>
            </v-btn>
            <span>2 unread notifications</span>
        </v-tooltip>

        <v-menu
                bottom
                left
        >
            <v-btn icon slot="activator">
                <v-avatar size="32">
                    <img :src="user.avatar">
                </v-avatar>
            </v-btn>
            <v-list class="pa-0">
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <v-avatar size="48px">
                            <img :src="user.avatar">
                        </v-avatar>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ user.name }}</v-list-tile-title>
                        <!--<v-list-tile-sub-title>{{  eventBus.global.user.primary_role }}</v-list-tile-sub-title>-->
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>

                <v-list-tile key="profile" @click="editProfile">
                    <v-list-tile-action>
                        <v-icon>mdi-account</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>My Profile</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>

                <v-list-tile key="lock_open" @click="doLogout">
                    <v-list-tile-action>
                        <v-icon>mdi-lock-open</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Logout</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-menu>
    </v-toolbar>
</template>

<script>
    export default {
        name: 'TopMenu',
        data () {
            return {
            }
        },
        computed: {
            rightDrawer() {
                return this.$store.getters['app/getRightDrawerStatus'];
            },
            drawer: {
                set(value) {
                    this.$store.commit('app/setDrawerStatus', value);
                },
                get() {
                    return this.$store.getters['app/getDrawerStatus'];
                }
            },
            user() {
                return this.$store.getters['auth/getUser'];
            }
        },
        methods: {
            toggleRightDrawer() {
                this.$store.commit('app/setRightDrawerStatus', !this.$store.getters['app/getRightDrawerStatus']);
            },
            editProfile() {
                this.$router.push('/users/edit/' + this.user.id);
            },
            doLogout () {
                this.$store.dispatch('auth/logout').then(response => {
                    this.$router.push('/login');
                }).catch(error => {
                    console.log(error);
                    // window.open("/login","_self");
                });
            },
        }
    }
</script>