<template>
    <v-navigation-drawer
            temporary
            :right="right"
            v-model="rightDrawer"
            fixed
            app
    >
        <v-toolbar flat prominent dark class="primary">
            <v-toolbar-title>Notifications</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click.stop="toggleRightDrawer">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-toolbar>
        <v-list subheader dense>
            <v-subheader>All notifications</v-subheader>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: 'RightSideBar',
        data () {
            return {
                right: true,
            }
        },
        methods: {
            toggleRightDrawer() {
                this.$store.commit('app/setRightDrawerStatus', !this.$store.getters['app/getRightDrawerStatus']);
            }
        },
        computed: {
            rightDrawer: {
                set(value) {
                    this.$store.commit('app/setRightDrawerStatus', value);
                },
                get() {
                    return this.$store.getters['app/getRightDrawerStatus'];
                }
            },
        }
    }
</script>

