<template>
    <v-navigation-drawer
            width="250"
            class="blue-grey darken-4"
            dark
            persistent
            :mini-variant="miniVariant"
            v-model="drawer"
            fixed
            app
    >
        <v-toolbar flat class="transparent">
            <v-list class="pa-0" :class="{'list-border-bottom' : miniVariant}">
                <v-list-tile>
                    <v-list-tile-action v-if="!miniVariant">
                        <v-icon color="orange">
                            mdi-invert-colors
                        </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content v-if="!miniVariant">
                        <v-list-tile-title><h2>Vuetify</h2></v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn icon @click.stop="miniVariant = !miniVariant">
                            <v-icon v-html="miniVariant ? 'mdi-chevron-right' : 'mdi-chevron-left'"></v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
        </v-toolbar>
        <v-divider></v-divider>


        <v-list dense subheader :class="{'list-border-bottom' : miniVariant}">
            <v-subheader>DASHBOARD</v-subheader>
            <v-tooltip right :disabled="!miniVariant">
                <v-list-tile
                        to="/dashboard"
                        exact
                        slot="activator"
                >
                    <v-list-tile-action>
                        <v-icon>mdi-view-dashboard</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Dashboard</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <span>Dashboard</span>
            </v-tooltip>
        </v-list>

        <v-divider></v-divider>

        <v-list dense subheader :class="{'list-border-bottom' : miniVariant}">
            <v-subheader>USERS</v-subheader>
            <template v-for="item in userItems">
                <v-tooltip right :disabled="!miniVariant">
                    <v-list-tile
                            :key="item.icon"
                            :to="item.link"
                            exact
                            slot="activator"
                    >
                        <v-list-tile-action>
                            <v-icon v-html="item.icon"></v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title v-text="item.title"></v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <span v-text="item.title"></span>
                </v-tooltip>
            </template>
        </v-list>
        <v-divider></v-divider>


        <v-list dense subheader>
            <v-subheader>LOGS AND SETTINGS</v-subheader>
            <v-tooltip right :disabled="!miniVariant">
                <v-list-tile
                        to="/logs"
                        exact
                        slot="activator"
                >
                    <v-list-tile-action>
                        <v-icon>mdi-clipboard-text</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Logs</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <span>Logs</span>
            </v-tooltip>
            <v-tooltip right :disabled="!miniVariant">
                <v-list-tile
                        to="/settings"
                        exact
                        slot="activator"
                >
                    <v-list-tile-action>
                        <v-icon>mdi-settings</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Settings</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <span>Settings</span>
            </v-tooltip>
        </v-list>



        <v-divider></v-divider>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: 'Sidebar',
        data () {
            return {
                userItems: [
                    {
                        icon: 'mdi-account-star',
                        title: 'Users',
                        link: '/users'
                    }
                ],
            }
        },
        computed: {
            miniVariant: {
                set(value) {
                    this.$store.commit('app/setMiniVariantStatus', value);
                },
                get() {
                    return this.$store.getters['app/getMiniVariantStatus'];
                }
            },
            drawer: {
                set(value) {
                    this.$store.commit('app/setDrawerStatus', value);
                },
                get() {
                    return this.$store.getters['app/getDrawerStatus'];
                }
            }
        }
    }
</script>