<template>
    <auth-container>
        <v-card width="320" flat>
            <v-card-text>
                <div class="text-xs-center display-3 grey--text text--darken-2 font-weight-light mb-4">
                    Login
                </div>
                <v-form @submit.native.prevent="doLogin" class="text-center">
                    <v-text-field
                            label="Email"
                            v-model="login.email"
                            prepend-icon="mdi-account"
                            required
                            :error-messages="emailProblem ? emailProblem : ''"
                            type="text"
                            autocapitalize="off"
                            autocorrect="off"
                    ></v-text-field>
                    <v-text-field
                            label="Password"
                            v-model="login.password"
                            prepend-icon="mdi-lock"
                            required
                            :error-messages="passwordProblem ? passwordProblem : ''"
                            :append-icon="viewPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="() => (viewPassword = !viewPassword)"
                            :type="viewPassword ? 'password' : 'text'"
                    ></v-text-field>
                    <v-checkbox
                            label="Remember me"
                            color="primary"
                            v-model="login.remember"
                            value="1"
                    ></v-checkbox>
                    <div class="text-center">
                        <v-btn type="submit" class="primary white--text">Login</v-btn>
                    </div>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn flat v-if="registrationAllowed" @click="goToRegisterPage">Register</v-btn>
                <v-spacer></v-spacer>
                <v-btn flat  @click="goToForgotPasswordPage">Forgot Password?</v-btn>
            </v-card-actions>
        </v-card>
    </auth-container>
</template>

<script>
    import AuthContainer from '../../containers/Auth';
    export default {
        data() {
            return {
                login: {
                    email: '',
                    password: '',
                    remember: 0
                },
                viewPassword: true,
                emailProblem: '',
                passwordProblem: '',
                problem:[],
            }
        },
        components: {
            AuthContainer
        },
        computed: {
            registrationAllowed() {
                let body = document.getElementsByTagName("body")[0];
                if(!(body.hasAttribute('data-reg') || body.getAttribute('data-reg') === "false")) {
                    return true;
                } else {
                    return false;
                }
            }
        },
        name: 'Login',
        mounted(){
        },
        methods: {
            goToRegisterPage() {
                this.$router.push('/register')
            },
            goToForgotPasswordPage() {
                this.$router.push('/password/reset')
            },
            resetProblems() {
                this.emailProblem = '';
                this.passwordProblem = '';
            },
            doLogin() {
                this.resetProblems();
                window.axios.post('/login', this.login).then(response => {
                    this.$store.commit('auth/setUser', response.data.user);
                    this.$toasted.show('Login Successful!', {
                        theme: "default",
                        position: "top-center",
                        duration : 1500
                    });
                    this.$router.push('/dashboard');
                }).catch(error => {
                    var errors = error.response.data.errors;
                    for (var key in errors) {
                        if (!errors.hasOwnProperty(key)) continue;

                        if(key == 'email') {
                            this.emailProblem = errors[key];
                        } else if(key == 'password') {
                            this.passwordProblem = errors[key];
                        }
                    }
                });
            },
        }
    }
</script>