<template>
    <auth-container>
        <v-card width="320" flat>
            <v-card-text>
                <div class="text-xs-center display-3 grey--text text--darken-2 font-weight-light mb-4">
                    Reset Password
                </div>
                <v-form @submit.native.prevent="doPasswordChange" class="text-center">
                    <v-text-field
                            v-model="user.token"
                            class="hidden"
                            type="hidden"
                            hidden
                    ></v-text-field>
                    <v-text-field
                            label="Email"
                            v-model="user.email"
                            :error-messages="emailProblem ? emailProblem : ''"
                            prepend-icon="mdi-email-mark-as-unread"
                            disabled
                    ></v-text-field>
                    <v-text-field
                            label="Password"
                            v-model="user.password"
                            prepend-icon="mdi-lock"
                            required
                            :error-messages="passwordProblem ? passwordProblem : ''"
                            :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
                            @click:append="() => (viewPassword = !viewPassword)"
                            :type="viewPassword ? 'text' : 'password'"
                    ></v-text-field>
                    <v-text-field
                            label="Confirm Password"
                            v-model="user.password_confirmation"
                            prepend-icon="mdi-lock"
                            :append-icon="viewConfirmedPassword ? 'mdi-eye-off' : 'mdi-eye'"
                            @click:append="() => (viewConfirmedPassword = !viewConfirmedPassword)"
                            :type="viewConfirmedPassword ? 'text' : 'password'"
                            required
                    ></v-text-field>
                    <div class="text-center mt-2">
                        <v-btn type="submit" class="primary white--text">Reset Password</v-btn>
                    </div>
                </v-form>
            </v-card-text>
        </v-card>
    </auth-container>
</template>

<script>
    import AuthContainer from '../../containers/Auth';
    export default {
        data() {
            return {
                user: {
                    token: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                },
                viewPassword: false,
                viewConfirmedPassword: false,
                emailProblem: '',
                passwordProblem: '',
            }
        },
        components: {
            AuthContainer
        },
        computed: {

        },
        name: 'Password-Change',
        mounted(){
            this.user.token = this.$route.params.token;
            this.user.email = this.decodeBase64(this.$route.params.email);
        },
        methods: {
            resetProblems() {
                this.emailProblem = '';
                this.passwordProblem = '';
            },
            doPasswordChange() {
                this.resetProblems();
                window.axios.post('/password/reset', this.user).then(response => {
                    this.$toasted.show(response.data.message, {
                        theme: "default",
                        position: "top-center",
                        duration : 5000
                    });
                    this.$store.dispatch('auth/getUser').then(response => {
                        this.$router.push('/dashboard');
                    }).catch(error => {
                        this.$toasted.show("Whoops something went wrong!", {
                            theme: "error",
                            position: "top-center",
                            duration : 1500
                        });
                    });
                }).catch(error => {
                    var errors = error.response.data.errors;
                    console.log(errors);
                    for (var key in errors) {
                        if (!errors.hasOwnProperty(key)) continue;

                        if(key == 'email') {
                            this.emailProblem = errors[key];
                        } else if(key == 'password') {
                            this.passwordProblem = errors[key];
                        }
                    }
                });
            },
        }
    }
</script>