<template>
    <auth-container>
        <v-card width="320" flat>
            <v-card-text>
                <div class="text-xs-center display-3 grey--text text--darken-2 font-weight-light mb-4">
                    Reset Password
                </div>
                <v-form @submit.native.prevent="doPasswordReset" class="text-center">
                    <v-text-field
                            label="Email"
                            v-model="user.email"
                            prepend-icon="mdi-email-mark-as-unread"
                            required
                            :error-messages="emailProblem ? emailProblem : ''"
                            type="text"
                            autocapitalize="off"
                            autocorrect="off"
                    ></v-text-field>
                    <div class="text-center mt-2 mb-2">
                        <v-btn type="submit" class="primary white--text">Send Password Reset Link</v-btn>
                    </div>
                </v-form>

                <v-alert :value="message !== ''" color="success">{{ message }}</v-alert>
            </v-card-text>
        </v-card>
    </auth-container>
</template>

<script>
    import AuthContainer from '../../containers/Auth';
    export default {
        data() {
            return {
                user: {
                    email: '',
                },
                emailProblem: '',
                message: ''
            }
        },
        components: {
            AuthContainer
        },
        computed: {},
        name: 'Password-Reset',
        mounted(){},
        methods: {
            resetProblems() {
                this.emailProblem = '';
            },
            doPasswordReset() {
                this.resetProblems();
                window.axios.post('/password/email', this.user).then(response => {
                    this.$toasted.show(response.data.message, {
                        theme: "default",
                        position: "top-center",
                        duration : 5000
                    });
                    this.emailProblem = '';
                }).catch(error => {
                    var errors = error.response.data.errors;
                    for (var key in errors) {
                        if (!errors.hasOwnProperty(key)) continue;
                        if(key == 'email') {
                            this.emailProblem = errors[key];
                        }
                    }
                });
            },
        }
    }
</script>