<template>
    <auth-container>
        <v-card width="320" flat>
            <v-card-text>
                <div class="text-xs-center display-3 grey--text text--darken-2 font-weight-light mb-4">
                    Register
                </div>
                <v-form @submit.native.prevent="doRegister" class="text-center">
                    <v-text-field
                            label="Name"
                            v-model="registration.name"
                            prepend-icon="mdi-account"
                            required
                            :error-messages="nameProblem ? nameProblem : ''"
                            type="text"
                            autocapitalize="off"
                            autocorrect="off"
                    ></v-text-field>
                    <v-text-field
                            label="Email"
                            v-model="registration.email"
                            prepend-icon="mdi-email-mark-as-unread"
                            required
                            :error-messages="emailProblem ? emailProblem : ''"
                            type="text"
                            autocapitalize="off"
                            autocorrect="off"
                    ></v-text-field>
                    <v-text-field
                            label="Password"
                            v-model="registration.password"
                            prepend-icon="mdi-lock"
                            required
                            :error-messages="passwordProblem ? passwordProblem : ''"
                            :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
                            @click:append="() => (viewPassword = !viewPassword)"
                            :type="viewPassword ? 'text' : 'password'"
                    ></v-text-field>
                    <v-text-field
                            label="Confirm Password"
                            v-model="registration.password_confirmation"
                            prepend-icon="mdi-lock"
                            :append-icon="viewConfirmedPassword ? 'mdi-eye-off' : 'mdi-eye'"
                            @click:append="() => (viewConfirmedPassword = !viewConfirmedPassword)"
                            :type="viewConfirmedPassword ? 'text' : 'password'"
                            required
                    ></v-text-field>
                    <v-checkbox
                            label="Agree to terms and conditions"
                            color="primary"
                            v-model="registration.agree"
                            :error-messages="agreeProblem ? agreeProblem : ''"
                            value="1"
                    ></v-checkbox>
                    <div class="text-center mt-2">
                        <v-btn type="submit" class="primary white--text">Register</v-btn>
                    </div>
                </v-form>
            </v-card-text>
        </v-card>
    </auth-container>
</template>

<script>
    import AuthContainer from '../../containers/Auth';
    export default {
        data() {
            return {
                registration: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    agree: null
                },
                viewPassword: false,
                viewConfirmedPassword: false,
                nameProblem: '',
                emailProblem: '',
                passwordProblem: '',
                agreeProblem: '',
            }
        },
        components: {
            AuthContainer
        },
        computed: {
            registrationAllowed() {
                let body = document.getElementsByTagName("body")[0];
                if(!(body.hasAttribute('data-reg') || body.getAttribute('data-reg') === "false")) {
                    return true;
                } else {
                    return false;
                }
            }
        },
        name: 'Register',
        mounted(){
            if(!this.registrationAllowed) {
                this.$router.push('/login');
            }
        },
        methods: {
            resetProblems() {
                this.nameProblem = '';
                this.emailProblem = '';
                this.passwordProblem = '';
                this.agreeProblem = '';
            },
            doRegister() {
                this.resetProblems();
                window.axios.post('/register', this.registration).then(response => {
                    this.$toasted.show(response.data.message, {
                        theme: "default",
                        position: "top-center",
                        duration : 5000
                    });
                    this.$store.dispatch('auth/getUser').then(response => {
                        this.$router.push('/dashboard');
                    }).catch(error => {
                        this.$toasted.show("Whoops something went wrong!", {
                            theme: "error",
                            position: "top-center",
                            duration : 1500
                        });
                    });
                }).catch(error => {
                    var errors = error.response.data.errors;
                    for (var key in errors) {
                        if (!errors.hasOwnProperty(key)) continue;

                        if(key == 'name') {
                            this.nameProblem = errors[key];
                        } else if(key == 'email') {
                            this.emailProblem = errors[key];
                        } else if(key == 'password') {
                            this.passwordProblem = errors[key];
                        } else if(key == 'agree') {
                            this.agreeProblem = errors[key];
                        }
                    }
                });
            },
        }
    }
</script>